body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #2e3d49;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.flipped img {
    display: block;
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #2e3d49;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

#reset-button:hover {
    background-color: #1b2731;
}
